// Colores elegidos para el proyecto
$main-col: #333a73;
$first-col: #387adf;
$secondary-col: #50c4ed;
$third-col: #fba834;
$fourth-col: #181818;
$fifth-col: #212529;

// Variables para el tema claro
$light-background: #ffffff;
$light-text: #ffffff;

// Variables para el tema oscuro
$dark-background: #17181d;
$dark-text: #0e0e0e;

.icon-link {
  text-decoration: none;
  background-color: $main-col;
  padding: 8px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $third-col;
}

.icon-link:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
